.big-card-container {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    width: 400px;
    height: 500px;
    margin-right: 60px;
}

.big-card-photo > img {
    max-width: 100%;
    min-width: 400px;
    border-radius: 10px;
    box-shadow: 0px -1px 5px 2px #080808;
}

.big-card-title > a > h1 {
    font-size: 1.5em;
    margin-top: 10px;
}

.big-card-description {
    margin-top: 20px;
}

.big-card-description > a p {
    color: #919191;
    font-size: 0.8em;
}

/* Add hover in link */
.big-card-title > a:hover h1 {
    color: #714f00;
    transition: 0.6s;
}

.big-card-description> a:hover p {
    color: #714f00;
    transition: 0.6s;
}