.small-card-container {
    width: 600px;
    margin-bottom: 10px;
}

.small-card-container-content {
    display: flex;
    
}

.small-card-photo > img {
    border-radius: 10px;
    width: 200px;
    min-width: 200px;
    margin-right: 20px;
}

.small-card-title {
    display: flex;
    justify-content: center;
    align-items: center;
}

.small-card-title a > h1 {
    font-size: 1.6em;
}

.small-card-title a:hover > h1 {
    color: #714f00;
    transition: 0.6s;
}

.small-card-line {
    margin-top: 20px;
}

.small-card-line hr {
    border: 1px solid #363636;
}