<app-menu-title></app-menu-title>
<div class="articles-container">
  
   <div class="article-main">
       
      <app-big-card Id="1" photoCover="https://image.webmotors.com.br/_fotos/anunciousados/gigante/2022/202209/20220921/volkswagen-jetta-2.5-i-variant-20v-170cv-gasolina-4p-tiptronic-wmimagem17343646219.jpg?s=fill&w=1920&h=1440&q=75"
      cardTitle="Jetta Variant 2011 MK6"
      cardDescription="A Jetta Variant pode ser encontrada no mercado de usados com preços médios que vão de R$ 32,8 mil, no caso do modelo 2008, a R$ 52,8 mil, no caso dos exemplares de ano 2013. Os dados são da Tabela Fipe."
      >
      </app-big-card>

      <app-big-card Id="2" photoCover="https://cdn.autopapo.com.br/box/uploads/2018/06/19150424/honda-civic-2000-a-2003-1536x1058.jpeg"
      cardTitle="Honda civic 2002"
      cardDescription="Lançada no fim de 2000, esta foi uma das eras mais marcantes do modelo e talvez a que tenha consolidado sua imagem de mecânica confiável e fama de carro que não quebra."
      >
      </app-big-card>
     
   </div> 
   
   <div class="article-others">
        
      <app-small-card Id="3" photoCover="https://www.webmotors.com.br/imagens/prod/343383/SUBARU_IMPREZA_2.5_WRX_STI_SEDAN_4X4_16V_TURBO_INTERCOOLER_GASOLINA_4P_MANUAL_34338301473647850.webp?s=fill&w=236&h=135&q=70&t=true"
        cardTitle="Subaru Impreza 2021"></app-small-card>

      <app-small-card Id="4" photoCover="https://cdn.autopapo.com.br/box/uploads/2021/09/08125443/new-civic-2008-1536x864.jpg"
        cardTitle="Honda Civic 2008 – New Civic"></app-small-card>

      <app-small-card Id="5" photoCover="https://cdn.autopapo.com.br/box/uploads/2021/09/08125434/honda-civic-si-oitava-geracao-1536x864.jpg"
        cardTitle="Honda Civic Si 2009/2010"></app-small-card>

        <app-small-card Id="6" photoCover="https://cdn.autopapo.com.br/box/uploads/2021/09/08125425/honda-civic-lx-2020-1536x864.jpg"
        cardTitle="Honda Civic LX 2020"></app-small-card>

      <app-small-card Id="7" photoCover="https://cdn.autopapo.com.br/box/uploads/2021/09/08125412/honda_civic_touring_2018.jpg"
        cardTitle="Honda Civic Touring 2018"></app-small-card>

      <app-small-card Id="8" photoCover="https://heycar.com.br/images/2017/Abril/BMW-320-GT.jpg"
        cardTitle="BMW 320 GT Sport 2016"></app-small-card>

   </div>

</div>
